{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	{% include "components/_fileAriane.html.twig" %}
	<div class="container mx-auto my-auto mt-24  h-auto">
		<div class="flex  justify-center  md:flex-wrap  ">
			<div class="w-full h-screen bg-slate  m-4  flex  justify-center flex-col items-center  bg-green-300 ">
				<h1 class="text-2xl font-bold text-white  my-6">Mon Panier de test
				</h1>
				<!-- tableau tailwind -->
				<div class='w-96 h-96 bg-zinc-300 '>
					{% if items | length > 0 %}
						<table></table>
					{% else %}

						<p>C'est vide
						</p>

					{% endif %}
				</div>

			</div>
		</div>
	</div>
{% endblock %}
