{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Accueil {% endblock %}

{% block body %}
      <main class="w-full mt-20 top-20 bg-slate-500 h-[56rem]">
 
           <h1 class=" text-black bg-red-300 text-center">Bienvenue sur B'bikes'e</h1>
      </main>
  

{% endblock %}
