{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Resultat de la recherche -
	{{searchValue}}
{% endblock %}

{% block body %}
	{% include "components/_fileAriane.html.twig" %}
	<div class="mx-auto max-w-8xl flex justify-center z-20 mt-24 mb-4 h-auto  min-h-[31.9rem]">

		{% include "components/_dropdownFilter.html.twig"%}

		<!-- Affichage des produits -->
		<div class=" grid grid-cols-1  m-2 lg:grid-cols-4 md:grid-cols-3 w-full h-full p-12 gap-6">
			{% for   productd in product %}
				{% include "components/_cardsVtt.html.twig" %}
			{% endfor %}
		</div>

	</div>

{% endblock %}
