{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <div class="container mx-auto bg-slate-300 flex flex-col items-center  ">
 <h1 class=" text-3xl font-bold underline text-blue-700"> Hello home!  </h1>


  
      <ul class="bg-pink-600 p-2 mt-16" >

          {% for  cat in categories %}
           <li class=" text-white"> {{cat.Name}} </li>
      {% endfor %}
   
      
      </ul>



 </div>
{% endblock %}
