{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="container mx-auto w-96 mt-6">
			<div class="p-4 mb-4 text-sm text-center  rounded-lg {{ label }}">
				{{ message }}
			</div>
		</div>
	{% endfor %}
{% endfor %}
