    <footer>
        <div class="bg-stone-900 z-10">
          <div
            class="flex justify-around max-w-8xl h-56 mx-auto py-6 text-white"
          >
            <div class="flex flex-col w-56 my-4">
              <h5 class="">B'Bikes.e</h5>
              <ul>
                <li class="text-sm font-thin mt-2">
                  <a href="#">Pourquoi B'Bikes.e</a>
                </li>
                <li class="text-sm font-thin">
                  <a href="#">Qui suis-je ? </a>
                </li>
              </ul>
            </div>
            <div class="flex flex-col w-56 my-4">
              <h5 class="">SERVICES</h5>
              <ul>
                <li class="text-sm font-thin mt-2">
                  <a href="#">Garantie Commerciale CUBE </a>
                </li>
                <li class="text-sm font-thin">
                  <a href="#"
                    >Comment pouvons-nous vous aider</a
                  >
                </li>
                <li class="text-sm font-thin">
                  <a href="#">Enregistrer son vélo</a>
                </li>
              </ul>
            </div>
            <div class="flex flex-col w-56 my-4">
              <h5>LÉGAL</h5>
              <ul>
                <li class="text-sm font-thin mt-2">
                  <a href="#"
                    >Politique de confidentialité et gestion
                    des cokies
                  </a>
                </li>
                <li class="text-sm font-thin">
                  <a href="#">condition général de vente</a>
                </li>
              </ul>
            </div>
            <div class="flex flex-col w-56 my-4">
              <h5>RETROUVEZ-NOUS SUR</h5>
              <div
                class="flex flex-row justify-around w-40 h-36 mt-4"
              >
                <a href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-facebook"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                    />
                  </svg>
                </a>
                <a href="#">
                  <svg
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 50 50"
                    width="25"
                    height="25"
                  >
                    <path
                      d="M25,2C12.318,2,2,12.317,2,25s10.318,23,23,23s23-10.317,23-23S37.682,2,25,2z M18,35h-4V20h4V35z M16,17 c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2s2,0.895,2,2C18,16.105,17.105,17,16,17z M37,35h-4v-5v-2.5c0-1.925-1.575-3.5-3.5-3.5 S26,25.575,26,27.5V35h-4V20h4v1.816C27.168,20.694,28.752,20,30.5,20c3.59,0,6.5,2.91,6.5,6.5V35z"
                    />
                  </svg>
                </a>
                <a href="#">
                  <svg
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 50 50"
                    width="28"
                    height="28"
                    alt="logo youtube"
                  >
                    <path
                      d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z"
                    />
                  </svg>
                </a>
                <a href="#">
                  <svg
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 50 50"
                    width="25"
                    height="25"
                  >
                    <path
                      d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M36.237,20.524 c0.01,0.236,0.016,0.476,0.016,0.717C36.253,28.559,30.68,37,20.491,37c-3.128,0-6.041-0.917-8.491-2.489 c0.433,0.052,0.872,0.077,1.321,0.077c2.596,0,4.985-0.884,6.879-2.37c-2.424-0.044-4.468-1.649-5.175-3.847 c0.339,0.065,0.686,0.1,1.044,0.1c0.505,0,0.995-0.067,1.458-0.195c-2.532-0.511-4.441-2.747-4.441-5.432c0-0.024,0-0.047,0-0.07 c0.747,0.415,1.6,0.665,2.509,0.694c-1.488-0.995-2.464-2.689-2.464-4.611c0-1.015,0.272-1.966,0.749-2.786 c2.733,3.351,6.815,5.556,11.418,5.788c-0.095-0.406-0.145-0.828-0.145-1.262c0-3.059,2.48-5.539,5.54-5.539 c1.593,0,3.032,0.672,4.042,1.749c1.261-0.248,2.448-0.709,3.518-1.343c-0.413,1.292-1.292,2.378-2.437,3.064 c1.122-0.136,2.188-0.432,3.183-0.873C38.257,18.766,37.318,19.743,36.237,20.524z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>