<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}B'bikes'e |
			{% endblock %}
		</title>

		<link
		href="/assets/styles/app.css" rel="stylesheet"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		{% set currentPage = app.request.get('_route') %}
		<div class="h-auto  flex justify-center  items-center  bg-gradient-to-r from-slate-950 to-blue-500">

			{% include "partials/_sideBar.html.twig" %}
			<div class=" flex my-[4.74rem] mx-2 flex-col h-[46rem]  w-full  rounded-[50px] z-00 overflow-auto relative bg-no-repeat bg-cover bg-hero-admin ">
				{% include "partials/_headerAdmin.html.twig" %}
				{% include "partials/_flashmessage.html.twig" %}

				{% block content %}{% endblock %}

			</div>
		</div>
	</body>
</html>
