{% extends 'admin/layout.html.twig' %}

{% block title %}BackOffice{% endblock %}

{% block content %}
  <section class="w-[54rem] h-[24rem] backdrop-blur-3xl bg-white/10 shadow-2xl shadow-black mx-auto mt-20 z-0 rounded-xl font-gluten flex flex-col items-center justify-evenly ">

    <h1 class="text-stone-900 text-4xl font-semibold text-center my-2"> Bonjour {{ app.user.firstname}} </h1>
    <p class=" text-lg m-2 text-center">Bienvenue sur votre interface de Gestion</p>
    <div class="  flex flex-row space-x-4 text-stone-900">
       {# Produits #}
      <a href="#" class="flex flex-col items-center">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke-width="1.5" 
          stroke="currentColor" 
          class="w-12 h-12">
            <path 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" 
            />
        </svg>
        <h6>Produits</h6>         
      </a>
      {# Marques #}
      <a href="#" class=" flex flex-col items-center">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke-width="1.5" 
          stroke="currentColor" 
          class="w-12 h-12">
            <path 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" 
            />
         </svg>
        <h6>Marques</h6>
        </a>
        {# Catégories  #}
        <a href="{{ path('admin_categories_list')}}" class="flex flex-col items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-12 h-12"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
            />
          </svg>
        <h6>Catégories</h6>
        </a>
        {# Utilisateur #}
        <a href="#" class=" flex flex-col items-center">
          <svg  
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="1.5" 
            stroke="currentColor" 
            class="w-12 h-12"
          >
            <path 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" 
            />
          </svg>
          <h6>Utilisateurs</h6>
        </a>    
     </div>
  </section>
{% endblock %}
