{% extends 'admin/layout.html.twig' %}

{% block title %}BackOffice{% endblock %}

{% block content %}

 
     
          <div
          class="bg-white w-full h-[34rem] m-6 rounded-3xl "
        ></div>

  <div
          class="bg-slate-900 w-full h-3/6 m-6 rounded-3xl "
        ></div>

  <div
          class="bg-slate-900 w-full h-3/6 m-6 rounded-3xl "
        ></div>

  <div
          class="bg-slate-900 w-full h-3/6 m-6 rounded-3xl "
        ></div>






{% endblock %}
