{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}


{% block body %}
<main class="w-full mt-20 top-20 bg-slate-500 h-[56rem]">
<h1> Page des details d'un produits </h1>
</main>
{% endblock %}
