/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*tailwindCSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Composants avec Tailwind CSS */
.buttonNav {
  @apply rounded-l-full text-sm  flex justify-start p-3  border-none hover:bg-white hover:text-pink-900 hover:shadow-lg hover:shadow-black;
}
 .activeButtonNav {
  @apply rounded-l-full text-sm  flex justify-start p-3  border-none  bg-white text-pink-900 shadow-lg shadow-black;
 }

.buttonLien {
  @apply flex whitespace-nowrap  justify-center items-center;
}



/*Bouton de validation */

 .buttonValid {
  @apply  relative 
          md:h-10 
          px-6
          py-2 
          bg-gradient-to-br from-stone-950 to-stone-500   
          rounded-full 
          overflow-hidden 
          before:absolute 
          before:inset-0 
          before:origin-right 
          before:transition 
          before:duration-300 
          before:bg-gradient-to-br 
          before:from-green-400 
          before:to-green-900  
          before:scale-x-0 
          hover:before:scale-x-100 
          hover:before:origin-left;
 }
 .spanValid {
  @apply  relative text-white uppercase font-medium group-hover:text-stone-950 transition duration-200;
 }

/* - ***************** - */


/* Bouton de retour */

 .buttonRetour {
  @apply 
          relative 
          md:h-10 
          px-5  
          bg-gradient-to-br from-stone-950 to-stone-300 
          rounded-full 
          overflow-hidden 
          before:absolute 
          before:inset-0 
          before:origin-right 
          before:transition 
          before:duration-300 
          before:bg-gradient-to-br 
          before:from-slate-500 
          before:to-slate-950  
          before:scale-x-0 
          hover:before:scale-x-100 
          hover:before:origin-left;
 }

 .spanRetour {
  @apply  relative 
        text-white 
        uppercase 
        font-medium 
        group-hover:text-stone-950 
        transition duration-200;
}

/* - ***************** - */


/* Bouton de modification */ 

.buttonModifier {
  @apply  relative 
          md:h-10 
          px-10 
          bg-gradient-to-br from-stone-950 to-stone-500   
          rounded-full 
          overflow-hidden 
          before:absolute 
          before:inset-0 
          before:origin-right 
          before:transition 
          before:duration-300 
          before:bg-gradient-to-br 
          before:from-cyan-500 
          before:to-cyan-950  
          before:scale-x-0 
          hover:before:scale-x-100 
          hover:before:origin-left;
 }
 .spanModifier {
  @apply  relative 
        text-white  
          font-medium 
          group-hover:text-stone-950 
          transition duration-200;
 }

/* - ***************** - */


/* Bouton Ajout */ 

.buttonAdd {
  @apply  relative 
          md:h-10 
          px-10
          bg-gradient-to-br from-cyan-950 to-cyan-200   
          rounded-xl 
          overflow-hidden 
          before:absolute 
          before:inset-0 
          before:origin-right 
          before:transition 
          before:duration-300 
          before:bg-gradient-to-br 
          before:from-cyan-500 
          before:to-cyan-950  
          before:scale-x-0 
          hover:before:scale-x-100 
          hover:before:origin-left;
 }
 .spanAdd {
  @apply  relative 
        text-white  
          font-medium 
          group-hover:text-stone-950 
          transition duration-200;
 }

/* - ***************** - */
/* Bouton Validation filtre */ 

.buttonFilter {
  @apply  relative 
          md:h-10 
          px-6 
          py-2
      
          bg-gradient-to-br from-pink-950 to-pink-500  
          rounded-full 
          overflow-hidden 
          before:absolute 
          before:inset-0 
          before:origin-right 
          before:transition 
          before:duration-300 
          before:bg-gradient-to-br 
          before:from-pink-200  
          before:to-pink-600   
          before:scale-x-0 
          hover:before:scale-x-100 
     
          hover:before:origin-left;
 }
 .spanFilter {
  @apply  relative 
        text-white  
   
          font-medium 
          group-hover:text-stone-900 
          transition duration-200;
 }

.title {
  @apply ml-6 text-stone-900;
}

.card {
  @apply border-b border-r border-gray-300 p-2 text-center;
}

.flash-success{
@apply bg-green-200 text-green-900 font-gluten ;
}

.flash-alert{
@apply bg-red-100 text-red-900 font-gluten;
}
.flash-delete{
  @apply bg-red-200 text-red-950 font-gluten;
  }
.flash-info{
@apply bg-gray-100 text-gray-900 font-gluten;
}

.buttonformValid{
@apply ml-6 mt-2 text-white bg-stone-950 focus:ring-2 focus:outline-none focus:ring-green-600 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center;
}
.buttonformBack{
@apply mt-2 text-white bg-stone-950 hover:bg-pink-950 focus:ring-2 focus:outline-none focus:ring-pink-700 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center;
}
