<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}B'bikes'e |
			{% endblock %}
		</title>
		<link
		href="/assets/styles/app.css" rel="stylesheet"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body {{ stimulus_controller('symfony/ux-swup/swup') }} theme:"slide ">
		{% set currentPage = app.request.get('_route') %}
		{% include "partials/_header.html.twig"%}
		<main>
			<section id="swup" class=" w-full h-full  font-gluten font-medium bg-gradient-to-br from-stone-900 from-10% via-cyan-600 via-30% to-stone-900 to-90% "> {% block body %}{% endblock %}

				</section>
			</main>
			{% include "partials/_paymentByCard.html.twig" %}
			{% include "partials/_footer.html.twig" %}
		</body>
	</html>
