<!DOCTYPE html>
<html>
	{# Head html #}


	{% include "partials/_headHtml.html.twig" %}


	<body>
		{% set currentPage = app.request.get('_route') %}


		<div class="flex flex-col justify-between  ">

			{% include "partials/_header.html.twig"%}


			<main class=" w-full h-auto font-gluten font-medium bg-gradient-to-br from-stone-400 from-10% via-stone-600 via-40% to-blue-950 to-90%  "> {% block body %}{% endblock %}

				</main>


				{% include "partials/_paymentByCard.html.twig" %}
				{% include "partials/_footer.html.twig" %}</div>
		</body>
	</html>
