{# Composent Card SM #}


<a href="{{path('product_details', {id: productd.id} ) }} " class="relative bg-white mx-auto shadow-xl w-52  h-auto shadow-black rounded-r-3xl rounded-b-3xl md:hover:shadow-2xl md:hover:shadow-black md:hover:transition md:ease-in-out md:hover:-translate-y-2 md:hover:scale-110"></a>
