<div{{ attributes }} class="mx-auto flex items-center justify-around sticky top-20  px-6  backdrop-blur-3xl shadow-2xl bg-black/20 z-40">
	 {#<div class="max-w-10xl delay-150 sticky top-20 h-16 bg-none text-slate-900 flex items-center justify-start">
		<div class="cursor-pointer transition duration-700 translate-x-[0rem] mr-4 lg:hidden" id="filtreMobile">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6 text-pink-600">
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"/>
			</svg>
		</div>
		</div>#}
		{% if currentPage != 'home' %}
			   <button
          data-action="live#emit"
            data-event="showFilter"
        class="  border-none ring-1 ring-s_Xligth p-1 text-lg rounded-lg text-s_Xligth hover:bg-s_Xligth hover:text-p_darck  ">
            Filtres
      </button>
		{% endif %}
  
		<twig:MainSearch :searchDto="searchDto"></twig:MainSearch> 	
</div>
