{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!
{% endblock %}

{% block body %}

	{% include "components/_fileAriane.html.twig" %}


	<div class="mx-auto max-w-8xl flex justify-center z-20 mt-24 mb-4 h-full ">
		{% include "components/_dropdownFilter.html.twig"%}
		<!-- Affichage des produits -->
		<!-- Afichage des produits des catégories enfant -->
			<div class="grid grid-cols-1  lg:grid-cols-4 md:grid-cols-3 w-full md:h-full  p-6 gap-8"> {% for categorieChild in listProdByCategoId.categories %}
				{% for  productd in categorieChild.products %}
					{% include "components/_cardsVtt.html.twig" %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>


{% endblock %}
